body
{
    margin: 0;
}
nav
{
    font-family: 'Signika Negative', sans-serif;
    padding: 8px 15px;
    font-size: 14pt;
    box-shadow: 1px 1px 4px gold;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
}
nav > li
{
    float: right;
    list-style: none;
    margin-top: 36px;
    margin-left: 15px;
    margin-right: 15px;
}
nav > li:hover
{
    transform: scale(1.3);
}
nav > img
{
    width: 110px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px gold;
}
nav > li > a
{
    text-decoration: none;
    padding: 15px 25px;
    color: gold;
    text-shadow: 3px 3px 7px gold;
    overflow: hidden;
}
/* ------------ || -------------- */

/* ------background section-------- */
section#photo-sec
{
    width: 100%;
    height: 500px;
    position: relative;
    top: 0;
}
section#photo-sec > img
{
    width: 100%;
    height: 500px;
}
section#photo-sec > div
{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-family: 'Noto Sans Mono', monospace;
}
/* -------------||--------------- */

/* ---------- About Us Title ------------ */
h2.about-title::after
{
    content: "";
    display: block;
    background-color: #dc143c;
    width: 100px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* h2.about-title::after,h2.about-title::before
{
    content: "";
    display: inline-block;
    background-color: crimson;
    width: 100px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
} */

/* ------- Pizza Section --------- */
.pizza
{
    display: flex;
    width: 80%;
    box-shadow: 2px 2px 4px black;
    margin: auto;
    justify-content: space-around;
}
.pizza > div
{
    width: 350px;
    height: 100px;
    position: relative;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px black;
}
.pizza > div > img
{
    width: 110px;
    height: 90px;
    position: absolute;
    right: 10px;
    top: 12%;
    border-radius: 12px;
}
.pizza > div > div
{
    width: 260px;
    line-height: 1.4em;
}